.header {
    display: flex;
    border-bottom: 1px solid lightgray;
}

.header div {
    flex: 1;
}

.header h1 {
    padding: 10px;
    margin: 0;
}

.header nav {
    flex: 5
}

.header nav ul{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 21px;
}

.header nav ul li{
    display: inline-block;
    padding: 0 20px;
}

.header nav ul li a {
    text-decoration: none;
}



